.error {
  color: red;
  font-size: 0.8em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: gainsboro;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 1em;
}